body {
  font-family: Pretendard, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
}

header h1 {
  margin: 0;
  font-size: 24px;
  font-family: 'Bagel Fat One', sans-serif;
}

header button {
  padding: 10px 20px;
  font-size: 16px;
}
